
/*
 * Main CSS file for Sulphur Five.
 */
.sulphur-file-item {
    min-height:250px;
    display:block;
    cursor:pointer;
    transition-property:box.shadow;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
    position:relative;
}
.sulphur-file-item:focus,
.sulphur-file-item:active,
.sulphur-file-item:hover {
    box-shadow:2px 2px 5px rgba(0,0,0,.7);
    transition-property:box.shadow;
    transition-duration:.2s;
    transition-timing-function:ease-in-out;
}
.sulphur-username {
    position:absolute;
    top:.5rem;
    right:.5rem;
    font-weight:normal;
    color:#d0d0d0;
    font-style:italic;
}
.sulphur-uploaded {
    position:absolute;
    bottom:.5rem;
    right:.5rem;
    font-weight:normal;
    color:#d0d0d0;
    font-style:italic;
}
.sulphur-preview-file {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
}
.sulphur-close-preview {
    position:absolute;
    top:.5rem;
    right:.5rem;
    font-size:2em;
    opacity:.5;
}
#sulphur-file-preview-content img,
#sulphur-file-preview-content video {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
}
#sulphur-file-preview-content video:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
