
/*
 * Main CSS file for Sulphur Five.
 */
.container {
    padding-bottom:150px;
}
.sulphur-file-item {
    display:block;
    position:relative;
    background-color:#fefefe;
    overflow:auto;
}
.sulphur-file-name {
    display:inline-block;
    margin-bottom:0;
}
.sulphur-file-description {
    margin-bottom:-.5rem;
}
.sulphur-meta {
    font-weight:normal;
    color:#d0d0d0;
    font-style:italic;
    text-align:right;
    margin-top:1rem;
}
.sulphur-file-action-buttons {
    position:absolute;
    top:.3rem;
    right:1rem;
}
.sulphur-file-action-buttons button {
    border:none;
    background:none;
    font-size:1.1rem;
    padding:0 .5rem;
    display:inline-block;
    margin-bottom:0;
}
.sulphur-file-action-buttons a {
    font-size:1.1rem;
    padding:0 5px;
    display:inline-block;
    padding-left:10px;
}
.sulphur-home-link {
    display:block;
    text-align:center;
    font-size:1.1rem;
}
