
/*
 * Main CSS file for Sulphur Five.
 */
.container {
    padding-bottom:150px;
}
.sulphur-file-item {
    display:block;
    position:relative;
    background-color:#fefefe;
    overflow:auto;
}
.sulphur-file-description{
    margin-bottom:50px;
}
.sulphur-meta {
    position:absolute;
    bottom:.5rem;
    right:.5rem;
    font-weight:normal;
    color:#d0d0d0;
    font-style:italic;
    text-align:right;
}
.sulphur-download-file {
    position:absolute;
    top:0;
    right:0;
    padding:15px 45px;
    border-left:solid 1px var(--wid-border-col);
    border-bottom:solid 1px var(--wid-border-col);
    border-bottom-left-radius:var(--border-radius);
    background:linear-gradient(#fefefe, #fafafa);
    border-top-right-radius:var(--border-radius);
}
.sulphur-download-file:focus,
.sulphur-download-file:hover,
.sulphur-download-file:active {
    box-shadow:-2px 2px 5px rgba(0,0,0,.2);
    transition:box-shadow .2s;
}
.sulphur-edit-file {
    position:absolute;
    bottom:0;
    left:0;
    padding:15px 45px;
    border-right:solid 1px var(--wid-border-col);
    border-top:solid 1px var(--wid-border-col);
    border-top-right-radius:var(--border-radius);
    background:linear-gradient(#fefefe, #fafafa);
    border-bottom-left-radius:var(--border-radius);
    cursor:pointer;
}
.sulphur-edit-file:focus,
.sulphur-edit-file:hover,
.sulphur-edit-file:active {
    box-shadow:-2px 2px 5px rgba(0,0,0,.2);
    transition:box-shadow .2s;
}
.sulphur-home-link {
    display:block;
    text-align:center;
    font-size:2rem;
}


.sulphur-file-editor {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
}
.sulphur-file-item-edit {
    max-width:700px;
    width:calc(100% - 2rem);
    margin-left:auto;
    margin-right:auto;
    margin-top:5rem;
    cursor:default;
}
.sulphur-close-file-editor {
    position:absolute;
    bottom:0;
    right:0;
    padding:15px 45px;
    border-left:solid 1px var(--wid-border-col);
    border-top:solid 1px var(--wid-border-col);
    border-top-left-radius:var(--border-radius);
    background:linear-gradient(#fefefe, #fafafa);
    border-bottom-right-radius:var(--border-radius);
    cursor:pointer;
}
.sulphur-close-file-editor:focus,
.sulphur-close-file-editor:hover,
.sulphur-close-file-editor:active {
    box-shadow:-2px 2px 5px rgba(0,0,0,.2);
    transition:box-shadow .2s;
}
.sulphur-delete-file-editor {
    position:absolute;
    bottom:0;
    left:0;
    padding:15px 45px;
    border-right:solid 1px var(--wid-border-col);
    border-top:solid 1px var(--wid-border-col);
    border-top-right-radius:var(--border-radius);
    background:linear-gradient(#fefefe, #fafafa);
    border-bottom-left-radius:var(--border-radius);
    cursor:pointer;
}
.sulphur-delete-file-editor:focus,
.sulphur-delete-file-editor:hover,
.sulphur-delete-file-editor:active {
    box-shadow:-2px 2px 5px rgba(0,0,0,.2);
    transition:box-shadow .2s;
}
